.header{
    display: flex;
    justify-content: center;
}
.create{
    margin-left: 40px;
}

body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputtext{
    margin-left: 40px;
    width: 52%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
}



.button{
    margin-left: 40px;
    color: white;
    background-color: #4c63b6;
    width: fit-content;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.task{
    font-weight:lighter;
    font-size: smaller;
}

.li-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.checkbox{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.label-container{
    background-color: #e6f6ff;
    width: 50%  ;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label{
    margin: 20px;
}

.delete-container{
    display: flex;
    align-items: right;
    padding: 20px;
}

/* .delete-icon{
    padding: 20px;
    
} */

.checked{
    text-decoration: line-through;
}

#todo-items-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
