.bg-container .counter-heading {
    display: flex;
    justify-content: center;     
}
.bg-container .counter-value {
    display: flex;
    justify-content: center;     
}

.bg-container .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;     
}
.buttons{
    height: 50px;
}
.counter-heading {
    font-size: 50px;
    font-family: "Roboto";
    font-weight: 800;
  }

.counter-value {
    font-size: 75px;
    font-weight: 900;
  }

.buttons {
    margin: 8px;
    border-radius: 7px;
    padding: 5px;
    border-width: 2px;
    border-color: black;
    background-color: #f1f5f8;
  }

  .bg-container {
    height: 100vh;
    background-color: #f1f5f8;
}